
<mat-card class="profile-card">
  <img src="../../../assets/img/0800.png" alt="Profile Picture" class="card-img-top">
  <mat-card-content>
    <h1 class="card-title">Welcome to {{role}} Dashboard</h1>
    <article>
     <p class="paragraph">Congratulations on accessing your dashboard! This central hub empowers you to manage and monitor your activities efficiently. From here, you can effortlessly navigate through various features, access critical information, and take control of your account.</p>
     <h3 class="card-title">Key Features</h3>
     <ul>
          <li><p class="paragraph"><b>Profile Overview:</b> Get a quick snapshot of your profile details and preferences.</p></li>
          <li><p class="paragraph"><b>Analytics:</b> Dive into detailed analytics to track your performance and make informed decisions.</p></li>
          <li><p class="paragraph"><b>Account Settings: </b>Customize your experience by adjusting settings and preferences to suit your needs</p></li>
     </ul>
     <h3 class="card-title">Stay Informed</h3>
     <p class="paragraph">Regular updates and insights will be displayed here, keeping you informed about the latest developments and enhancements.</p>
    </article>
    <button *ngIf="role == 'USER'" routerLink="/userdashboard/quiz" mat-raised-button color="primary">Get Started</button>
  </mat-card-content>
</mat-card>
