<mat-card class="profile-card">
     <button (click)="openModalForCategoryAddition()"
          class="top-right-button"><mat-icon>playlist_add</mat-icon></button>

     <div class="view-toggle">
          <button mat-icon-button (click)="toggleView('grid')" [class.active]="viewMode === 'grid'">
               <mat-icon>grid_view</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleView('list')" [class.active]="viewMode === 'list'">
               <mat-icon>list</mat-icon>
          </button>
     </div>

     <mat-list *ngIf="viewMode === 'list'; else gridView">
          <div class="cat-head" mat-subheader>All Categories</div>
          <mat-list-item *ngFor="let c of displayedCategoriesList" class="category-item">
               <div class="category-details">
                    <div class="cat-title" mat-card-subtitle>{{ c.title }}</div>
                    <div class="category-description" mat-card-content>{{ c.description }}</div>
                    <button (click)="openModalForCategoryUpdate(c)" class="btn-2" mat-raised-button color="primary"
                         type="submit">Update</button>
                    <button (click)="deleteCategoryByCategoryCode(c.cid)" class="top-right-button-3"
                         type="submit"><mat-icon>delete_forever</mat-icon></button>
               </div>
          </mat-list-item>
          <mat-paginator [length]="categories.length" [pageSize]="listPageSize" [pageSizeOptions]="listPageSizeOptions"
               (page)="onPageChangeList($event)"></mat-paginator>
     </mat-list>

     <ng-template #gridView>
          <div class="cat-head" mat-subheader>All Categories</div>
          <div class="grid-container">
               <mat-card *ngFor="let c of displayedCategoriesGrid" class="grid-item">
                    <div class="cat-title" mat-card-subtitle>{{ c.title }}</div>
                    <div class="cat-desc" mat-card-content>{{ c.description }}</div>
                    <button (click)="openModalForCategoryUpdate(c)" class="btn-2" mat-raised-button color="primary"
                         type="submit">Update</button>
                    <button (click)="deleteCategoryByCategoryCode(c.cid)" class="top-right-button-4"
                         type="submit"><mat-icon>delete_forever</mat-icon></button>
               </mat-card>
          </div>
          <mat-paginator [length]="categories.length" [pageSize]="gridPageSize" [pageSizeOptions]="gridPageSizeOptions"
               (page)="onPageChangeGrid($event)"></mat-paginator>
     </ng-template>
</mat-card>