.registration-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Increased gap for more space between fields */
  width: 70%; /* Adjusted width to increase horizontally */
  max-width: 900px; /* Increased max-width for responsiveness */
  margin: 15vh auto; /* Center vertically and horizontally with more space */
  padding: 30px; /* Increased padding for a more spacious feel */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row mat-form-field {
  flex: 1;
  max-width: 45%;
}

.heading {
  margin-top: 20px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #333;
}


