.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-row mat-form-field {
  flex: 1;
}

.heading {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #333;
}

.welcome-note-h1 {
     font-family: 'Quicksand', sans-serif;
     font-size: 35px;
}

.register {
     font-size: 10px;
}

.topics {
     font-family: 'Quicksand', sans-serif;
     font-size: 30px;
}

.icon-list {
     font-family: consolas;
}

.quizfe {
     font-family: 'DM Sans', sans-serif;
     word-spacing: 3em;
     font-weight: bold;
}


