<mat-card class="profile-card">
     <button (click)="openModalForQuizAddition()" class="top-right-button"><mat-icon>playlist_add</mat-icon></button>

     <div class="view-toggle">
          <button mat-icon-button (click)="toggleView('grid')" [class.active]="viewMode === 'grid'">
               <mat-icon>grid_view</mat-icon>
          </button>
          <button mat-icon-button (click)="toggleView('list')" [class.active]="viewMode === 'list'">
               <mat-icon>list</mat-icon>
          </button>
     </div>

     <mat-list *ngIf="viewMode === 'list'; else gridView">
          <div class="cat-head" mat-subheader>All Quizzes</div>
          <mat-list-item *ngFor="let c of displayedQuizzesList" class="category-item">
               <div class="category-details">
                    <div class="cat-title" mat-card-subtitle>{{ c.title }} | {{ c.numberOfQuestions }} qs. | {{ c.maxMarks }} mks</div>
                    <div class="category-description" mat-card-subtitle>{{ c.category.title }}</div>
                    <div class="category-description" mat-card-content>{{ c.description }}</div>
                    <button class="btn-2" mat-raised-button color="primary" type="submit">Proceed</button>
                    <button (click)="openModalForQuizUpdate(c)" class="top-right-button-2"
                         type="submit"><mat-icon>update</mat-icon></button>
                    <button (click)="deleteQuiz(c.quizId)" class="top-right-button-3"
                         type="submit"><mat-icon>delete_forever</mat-icon></button>
               </div>
          </mat-list-item>
          <mat-paginator *ngIf="quizzes.length > 0" [length]="quizzes.length" [pageSize]="listPageSize"
               [pageSizeOptions]="listPageSizeOptions" (page)="onPageChangeList($event)"></mat-paginator>
     </mat-list>

     <ng-template #gridView>
          <div class="cat-head" mat-subheader>All Quizzes</div>
          <div class="grid-container">
               <mat-card *ngFor="let c of displayedQuizzesGrid" class="grid-item">
                    <div class="category-title" mat-card-title>{{ c.title }} | {{ c.numberOfQuestions }} qs. | {{ c.maxMarks }} mks</div>
                    <div class="category-description" mat-card-subtitle>{{ c.category.title }}</div>
                    <div class="cat-desc category-description" mat-card-content>{{ c.description }}</div>

                    <button class="btn-2" mat-raised-button color="primary" type="submit">Proceed</button>
                    <button (click)="openModalForQuizUpdate(c)" class="top-right-button-4"
                         type="submit"><mat-icon>update</mat-icon></button>
                    <button (click)="deleteQuiz(c.quizId)" class="top-right-button-3"
                         type="submit"><mat-icon>delete_forever</mat-icon></button>
               </mat-card>
          </div>
          <mat-paginator *ngIf="quizzes.length > 0" [length]="quizzes.length" [pageSize]="gridPageSize"
               [pageSizeOptions]="gridPageSizeOptions" (page)="onPageChangeGrid($event)"></mat-paginator>
     </ng-template>
</mat-card>