<mat-card class="profile-card">
  <img src="../../../assets/img/getstarted.jpg" alt="Profile Picture" class="card-img-top">
  <mat-card-content>
    <h1 class="card-title">Support Us: Donate Today!</h1>
    <article>
      <p class="paragraph">By donating to QuizFe, you become a part of something bigger – a force for positive change. Together, we can create a brighter future for individuals and communities around the world.</p>
      <p class="paragraph">Ready to make an impact? Join us in our mission by making a donation today. Every penny makes a difference.</p>
    </article>
    <button *ngIf="!wishToDonate" (click)="toggleDonate()" class="btn" mat-raised-button color="primary">Yes, I'd Like
      To Donate</button>
    <div *ngIf="wishToDonate" class="payment-form-container">
      <form (ngSubmit)="checkout()" #paymentForm="ngForm">
        <div class="form-group">
          <input type="number" id="amount" name="amount" placeholder="Enter Amount" [(ngModel)]="amount" required>
        </div>
        <button class="btn" mat-raised-button color="primary" type="submit">Donate</button>
        <button style="background-color: white; color: black;" (click)="toggleDonate()"><mat-icon>cancel</mat-icon></button>
      </form>
    </div>
  </mat-card-content>
</mat-card>