<mat-card class="profile-card">
  <img src="../../../assets/img/0800.png" alt="Profile Picture" class="card-img-top">
  <mat-card-content>
    <h1 class="card-title">Support Us: Donate Today!</h1>
    <article>
     <p class="paragraph">Thank you for considering supporting our cause. Your generosity makes a significant impact, helping us continue our mission and make a difference in the community.</p>
     <h3 class="card-title">Ways to Donate</h3>
     <ul>
          <li><p class="paragraph"><b>One-Time Donation:</b> Make a one-time contribution to support our ongoing initiatives.</p></li>
          <li><p class="paragraph"><b>Monthly Subscription::</b> Join our community of sustaining donors by setting up a monthly donation.</p></li>
     </ul>
    </article>
    <button mat-raised-button color="primary">Donate</button>
  </mat-card-content>
</mat-card>
