<mat-action-list>
     <button class="btn" mat-list-item routerLink="/admindashboard/">
          <mat-icon>home</mat-icon>
          <strong style="font-size: 13px; font-family: 'Quicksand', sans-serif; ">HOME</strong>
     </button>
     <button class="btn" mat-list-item routerLink="/admindashboard/profile">
          <mat-icon>assignment_ind</mat-icon>
          <strong style="font-size: 13px; font-family: 'Quicksand', sans-serif; ">VIEW PROFILE</strong>
     </button>
     <button class="btn" mat-list-item routerLink="/admindashboard/deleteprofile">
          <mat-icon>delete_forever</mat-icon>
          <strong style="font-size: 13px; font-family: 'Quicksand', sans-serif; ">DELETE ACCOUNT</strong>
     </button>
</mat-action-list>
