.notMobile {
  display: flex;
  flex-direction: column;
}

.btn {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  font-family:  'Quicksand', sans-serif; 
  font-size: 10px;
}

.mobile {
  display: flex;
  flex-direction: row;
}

.active-link {
  border-left: 3px solid black;
}

.active-link-mobile {
  border-bottom: 3px solid black;
}

.hide-element {
  display: none;
}
