<mat-card>
     <mat-card-header>
          <button class="close" (click)="close()"><mat-icon>close</mat-icon></button>
          <mat-card-title>Update Question</mat-card-title>
     </mat-card-header>

     <mat-card-content>
          <form (ngSubmit)="updateQuestion()">
               <mat-form-field>
                    <mat-label>Question Content</mat-label>
                    <input matInput placeholder="Question Content" name="content" [(ngModel)]="question.content">
               </mat-form-field>

               <div class="form-fields-container">
                    <mat-form-field>
                         <mat-label>Correct Answer For Question</mat-label>
                         <input matInput placeholder="Correct Answer" name="correctAnswer"
                              [(ngModel)]="question.correctAnswer">
                    </mat-form-field>

                    <mat-form-field>
                         <mat-label>Image URL For The Question</mat-label>
                         <input matInput type="name" name="imageUrl" [(ngModel)]="question.imageUrl" />
                    </mat-form-field>
               </div>

               <!-- <div class="form-fields-container">
                    <mat-form-field *ngFor="let option of question.options; let i = index">
                         <mat-label for="option">Option {{i + 1}}</mat-label>
                         <input type="text" id="option" [(ngModel)]="option" name="options" />
                    </mat-form-field>
               </div> -->

               <!-- <mat-form-field>
                    <mat-select placeholder="Select Option" [(ngModel)]="selectedOption"
                         [ngModelOptions]="{ standalone: true }" (ngModelChange)="onOptionSelected()">
                         <mat-option *ngFor="let c of categories" [value]="c">{{ c.title }}</mat-option>
                    </mat-select>
               </mat-form-field> -->

               <button mat-raised-button color="primary" (click)="close()">Submit</button>
          </form>
     </mat-card-content>
</mat-card>