<mat-card>
     <mat-card-header>
          <button class="close" (click)="close()"><mat-icon>close</mat-icon></button>
          <mat-card-title>Update Question</mat-card-title>
     </mat-card-header>

     <mat-card-content>
          <form (ngSubmit)="updateQuestion()">
               <mat-form-field>
                    <mat-label>Question Content</mat-label>
                    <input matInput placeholder="Question Content" name="content" [(ngModel)]="question.content">
               </mat-form-field>

               <div class="form-fields-container">
                    <mat-form-field>
                         <mat-label>Correct Answer For Question</mat-label>
                         <input matInput placeholder="Correct Answer" name="correctAnswer"
                              [(ngModel)]="question.correctAnswer">
                    </mat-form-field>

                    <mat-form-field>
                         <mat-label>Image URL For The Question</mat-label>
                         <input matInput type="name" name="imageUrl" [(ngModel)]="question.imageUrl" />
                    </mat-form-field>
               </div>

               <button clas="btn" mat-raised-button color="primary">Submit</button>
          </form>
     </mat-card-content>
</mat-card>