<mat-card>
     <mat-card-header>
          <button class="close" (click)="close()"><mat-icon>close</mat-icon></button>
          <mat-card-title>Fiter Quizzes</mat-card-title>
     </mat-card-header>

     <mat-card-content>
          <form (ngSubmit)="filterQuizData()">
               <div class="form-fields-container">
                    <mat-form-field>
                         <mat-label>Quiz Title Starts With</mat-label>
                         <input matInput placeholder="" name="titleStartsWith"
                              [(ngModel)]="quizFilter.quizFilterParams.titleStartsWith" />
                    </mat-form-field>

                    <mat-form-field>
                         <mat-label>Quiz Title Contains</mat-label>
                         <input matInput placeholder="" name="titleContains"
                              [(ngModel)]="quizFilter.quizFilterParams.titleContains" />
                    </mat-form-field>
               </div>

               <mat-form-field>
                    <mat-label>Categories</mat-label>
                    <mat-select name="category" [(ngModel)]="quizFilter.quizFilterParams.categories[0]">
                         @for (category of categoryList; track category) {
                         <mat-option [value]="category">{{category.title}}</mat-option>
                         }
                    </mat-select>
               </mat-form-field>

               <div class="button-container">
                    <button (click)="removeCategory()" class="btn" mat-raised-button
                         *ngFor="let value of appliedFilters[0]"><mat-icon>cancel</mat-icon> {{value.title}}</button>
               </div>
               <button class="apply" mat-raised-button color="primary" (click)="close()">Apply</button>
               <button class="reset" mat-button color="primary" (click)="reset()">Reset</button>
          </form>
     </mat-card-content>
</mat-card>