<button mat-icon-button class="toggle-button" (click)="toggleChatWindow()">
     <mat-icon>{{ showChatWindow ? 'close' : 'chat' }}</mat-icon>
</button>

<div class="chat-container" *ngIf="showChatWindow">
     <button style="border: 5px solid white;" (click)="toggleChatWindow()"><mat-icon>cancel</mat-icon></button>

     <div class="chat-messages">
          <div *ngFor="let message of messages" style="margin-bottom: 10px;"
               [ngClass]="{'chat-list-item-user': message.from === 'user', 'chat-list-item-bot': message.from === 'bot'}"
               class="chat-messages">
               <span>{{message.content}}</span>
          </div>
     </div>

     <div class="chat-input">
          <mat-form-field appearance="fill" class="chat-input-field">
               <mat-label class="chat-input-field">Press 'Enter' To Send Your Message..</mat-label>
               <input matInput [(ngModel)]="userInput" (keydown.enter)="sendMessage()" />
               <button matTooltip="Press To Say Your Message" *ngIf="listnerStarted" mat-icon-button matSuffix
                    (click)="handleListening(); startListening();">
                    <mat-icon>mic</mat-icon>
               </button>
               <button matTooltip="Stop" *ngIf="listenerStopped" mat-icon-button matSuffix
                    (click)="handleListening(); stopListening();"><mat-icon>stop</mat-icon>
               </button>
          </mat-form-field>
     </div>
</div>